<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.BrandMapper">
    <!--    <select id="selectAll" resultType="com.pojo.User">-->


    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"/>
        <!--        column表的列名  property实体类的属性名-->
        <result column="company_name" property="companyName"/>

    </resultMap>

    <!--    resultType别名, 在mybatis-config.xml  <typeAliases>里 -->


    <!--    userTest-->

    <!--    <select id="selectAll" resultType="brand">-->
    <!--        select * from tb_brand;-->
    <!--    </select>-->

    <select id="selectAll" resultMap="brandResultMap">
        select * from tb_brand;
    </select>

    <select id="selectById" resultMap="brandResultMap">
        select * from tb_brand
        where id = #{id}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into tb_brand(brand_name,company_name,ordered,description,status)
        values(#{brandName},#{companyName},#{ordered},#{description},#{status});
    </insert>

    <!--<select id="selectByCondition" resultMap="brandResultMap">-->
    <!--    select * from tb_brand-->
    <!--    where status = #{status}-->
    <!--    and company_name like #{companyName}-->
    <!--    and brand_name like #{brandName}-->
    <!--&lt;!&ndash;    占位符名称用对象里的属性名&ndash;&gt;-->
    <!--</select>-->

    <!--    多条件查询 动态SQL-->
    <select id="selectByCondition" resultMap="brandResultMap">
        select * from tb_brand
        <where>
            <if test="status!=null">
                status = #{status}
            </if>
            <if test="companyName!=null and companyName!=''">
                and company_name like #{companyName}
            </if>
            <if test="brandName!=null and brandName!=''">
                and brand_name like #{brandName}
            </if>
        </where>
        <!--    占位符名称用对象里的属性名-->
    </select>

    <!--    单条件动态查询-->
    <select id="selectBySingleCondition" resultType="com.pojo.Brand">
        select * from tb_brand
        <where>
            <choose>
                <when test="status!=null">
                    status = #{status}
                </when>
                <when test="companyName!=null and companyName!=''">
                    company_name like #{companyName}
                </when>
                <when test="brandName!=null and brandName!=''">
                    brand_name like #{brandName}
                </when>
            </choose>
        </where>
    </select>

    <!--    更新数据-->
    <update id="update">
        update tb_brand
        <set>
            <if test="brandName!=null and brandName!=''">
                brand_name = #{brandName},
            </if>
            <if test="companyName!=null and companyName!=''">
                company_name = #{companyName},
            </if>
            <if test="ordered!=null">
                ordered = #{ordered},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        where
        id = #{id};
    </update>

    <delete id="deleteById">
        delete from tb_brand where id = #{id};
    </delete>

<!--    mapper类传来的数组会被封装成map集合, 默认key:array. value:这个数组-->
    <delete id="deleteByIds">
        delete from tb_brand where id
        in (
            <foreach collection="array" item="id" separator=","> <!--分隔符: separator=","-->
                #{id}
            </foreach>
        )
    </delete>

</mapper>
